body{
  font-family: source-code-pro, sans-serif;
  color:#F9F9F9;
  background-color: #212121
}

/* Split the screen in half */
.header_split {
  height: 8%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 0px;
  background-color: #212121;
  text-align: center;
  font-size: 30px; 
}

/* Control the left side */
.header_left {
  right: 61%;
  width: 39%;
  z-index:3;
}

/* Control the right side */
.header_right {
  right: 20%;
  z-index:3;
  width: 39%;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  overflow: hidden;
  padding-top: 20px;
  background-color: #000;
}

/* Control the left side */
.left {
  right: 61%;
  width: 39%;
  z-index:2;
}

/* Control the right side */
.right {
  right: 20%;
  z-index:2;
  width: 39%;
}

/* Control the toolbox */
.my-gui-container {
  position: fixed;
  right: 0%;
  width: 20%;
  top: 0;
  z-index:2;
  background-color: #212121
}


#stats {
  position: absolute;
  bottom:0;
  left: 0;
}

#r3d {
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

#my-lut-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  color: #F9F9F9;
  text-align: center;
}

#my-lut-container > div > .my-lut-canvases {
  position: relative;
}

#my-lut-min {
  margin-right: 10px;
}

#my-lut-max {
  margin-left: 10px;
}

#my-lut-container > div {
  margin-bottom: 10px;
}

#my-lut-container > div > .my-lut-canvases > :first-child {
  background: repeating-linear-gradient(-45deg, #353535, #353535 5px, black 5px, black 10px);
}

#my-lut-container > div > .my-lut-canvases > :nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}


.container.progress {
  font-size: 2.4em;
  text-align: center;
  width: 200px;
  height: 8px;
  position: absolute;
  background-color: rgba(158, 158, 158, 0.5);
  z-index: 4;
  border: 1px solid;
  box-sizing: border-box;
  left: 42%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.progress.load{

  box-sizing: border-box;
  border: 3px solid;
  width: 0%;
  transform: translateZ(0); 

}

.progress.parse{

  display: none;
  transform: translateZ(0); 

}

.beat {

  color: #E91E63;
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;

}

@keyframes love {

  animation-name: love;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: initial;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: initial;
  animation-play-state: initial;
  0% {
    transform: scale(1.3);
    }
  100% {
    transform: scale(1.7);
  }