body{
  font-family: source-code-pro, sans-serif;
  color:#F9F9F9;
  background-color: #212121
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: hidden;
  padding-top: 20px;
  background-color: #000;
}

/* Control the left side */
.left {
  left: 0;
  width: 38%;
}

/* Control the right side */
.right {
  position: fixed;
  right: 22%;
  width: 38%;
}

/* Control the toolbox */
.my-gui-container {
  position: fixed;
  width: 22%;
  right: 0;
  top: 0;
  z-index:2;
  background-color: #212121
}


#stats {
  position: absolute;
  bottom:0;
  left: 0;
}

#r3d {
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

#my-lut-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  color: #F9F9F9;
  text-align: center;
}

#my-lut-container > div > .my-lut-canvases {
  position: relative;
}

#my-lut-min {
  margin-right: 10px;
}

#my-lut-max {
  margin-left: 10px;
}

#my-lut-container > div {
  margin-bottom: 10px;
}

#my-lut-container > div > .my-lut-canvases > :first-child {
  background: repeating-linear-gradient(-45deg, #353535, #353535 5px, black 5px, black 10px);
}

#my-lut-container > div > .my-lut-canvases > :nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}

/* URL */
.switch-visualizations-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 50px;
    left: 0;
    top: 0;
    z-index:3;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    margin-bottom: 1px;
    margin-left: 2px;
}
