body{
  font-family: source-code-pro, sans-serif;
  color:#F9F9F9;
  background-color: #212121
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 49%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: hidden;
  padding-top: 20px;
  background-color: #000;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

#my-gui-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index:2;
}